.search-page {
    background-color: black;
    color: white;
    height: 50vh;
}

.btn {
    width: 150px;
    height: 60px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: yellow;
    text-decoration: #1ac6ff;
    color: #000000d5

}

.movies-header {
    background-color: black;
}